HELP.md
readme_backup.txt
architecture_docs/rest_api_readme.txt
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### Maven ###
.mvn
mvnw
mvnw.cmd
test.mv.db
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### NetBeans ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
